<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>New Apartman Form</title>
</head>
<body>
<div align="center">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Apartmani GRAND</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Naslovna</a></li>
                <li><a href="/list">Apartmani</a></li>
                <li class="active"><a href="/new">Dodaj Apartman</a></li>
                <li><a href="/rezervacije">Rezervacije</a></li>
                <li><a href="/newrezervacija1">Dodaj Rezervaciju</a></li>
                <li><a href="/admincenter">Admin</a></li>
            </ul>
        </div>
    </nav>

    <h1 id="test">Dodaj apartman</h1>

    <div class="container">
        <h3>Testiranje softvera</h3>
        <p>Ovo je Demo aplikacija za potrebe demonstracije tehnika testiranje softvera.</p>
    </div>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${apartman}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Apartman Id:</td>
                <td><input type="text" class="form-control form-control-sm" th:field="*{Id}"/></td>
            </tr>
            <tr>

                    <td>Naziv:</td>
                    <td><input type="text" class="form-control form-control-sm" th:field="*{naziv}"/></td>

            </tr>
            <tr>
                <td>Cena:</td>
                <td><input type="number" class="form-control form-control-sm" th:field="*{cena}"/></td>
            </tr>

            <tr>
                <!--td colspan="2"><button type="submit">Save</button> </td-->
                <td colspan="2">
                    <button type="submit" class="btn btn-success">Snimi</button>
                </td>
            </tr>
        </table>
    </form>


</div>
</body>
</html>